.container-partners-list {
	width: 100%;
	max-width: 600px;

	.list-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.btn-sort {
		height: 40px;
		border: none;
		font-weight: 600;
		margin-bottom: 0.5rem;
		padding: 0 2rem;
		font-size: 1rem;
		cursor: pointer;
	}

	.container-eligible-partners {
		width: 100%;

		.list-item-partner {
			display: flex;
			justify-content: space-between;
			background: lightgray;
			color: black;
			padding: 0.5rem 1rem;
			cursor: default;

			&:not(:last-of-type) {
				margin-bottom: 0.5rem;
			}
		}
	}
}
